.checkbox {
	input {
		display: none;
	}

	label {
		display: flex;
		border: 2px solid #e8e8e8;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		cursor: pointer;
		align-items: center;
		justify-content: center;

		svg {
			display: flex;
			opacity: 0;
			width: 13px;
		}
	}


	input:checked + label {
		background-color: black;
		border: none;
		border: 2px solid #e8e8e8;
		width: 25px;
		height: 25px;

		svg {
			opacity: 1;
			path {
				stroke: white;
			}
		}
	}

	&:hover {
		label {
			background-color: #f2f2f2;
			border: none;
			border: 2px solid #e8e8e8;
			width: 25px;
			height: 25px;

			svg {
				opacity: 1;
				path {
					stroke: #b2b2b2;
				}
			}
		}
	}
}

.task {
	&-name {
		font-family: 'Roboto', serif;
		font-size: 18px;
		margin-bottom: 5px;
		margin-left: 15px;
		margin-top: 5px;
	}
	&-name-selected {
		cursor: text;
		font-family: 'Roboto', serif;
		font-size: 18px;
		margin-bottom: 5px;
		margin-left: 15px;
		margin-top: 5px;
	}
	&-description {
		margin-left: -10px;
		&-textarea {
			resize: none;
			margin-left: -10px;
			width: 97.6%;
			min-height: 200px;
			max-height: 500px;
			padding: 20px;
			font-size: 16px;
			font-family: 'Roboto', serif;
			background-color: #F1F1F1;
			border: 2px solid #C4C4C4;
		}
	}
	&-additionally {
		&-bottom {
			&:hover div{
				cursor: pointer;
			}
			padding: 20px;
			display: flex;
			justify-content: space-between;
		}
	}
	&-title-input {
		height: 25px;
		padding-left: 5px;
		border-radius: 5px;
		font-size: 18px;
		margin-left: 10px;
		font-weight: normal;
		width: 400px;
	}

	&-date {
		&-input {
			height: 20px;
			padding-left: 5px;
			border-radius: 5px;
			font-size: 18px;
			font-weight: normal;
			width: 200px;
		}
		font-family: 'Roboto', serif;
		font-size: 12px;
		color: #363636;
		opacity: 0.9;
		margin-left: 50px;
		margin-top: -18px;
	}
}

.item {
	&:hover {
		cursor: pointer;
		background-color: #F1F1F1;
	}
	display: flex;
	margin-top: 10px;
	margin-left: -10px;
	padding: 16px;
}

.selected {
	background-color: #F1F1F1;
}

.tips {
	height: 500px;
	opacity: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.empty-tasks-block {
	margin-top: 40px;
	margin-left: 0px;
	opacity: 0.5;
}
