.checkbox {
	input {
		display: none;
	}

	label {
		display: flex;
		border: 2px solid #e8e8e8;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		cursor: pointer;
		align-items: center;
		justify-content: center;

		svg {
			display: flex;
			opacity: 0;
			width: 13px;
		}
	}


	input:checked + label {
		background-color: black;
		border: none;
		border: 2px solid #e8e8e8;
		width: 25px;
		height: 25px;

		svg {
			opacity: 1;
			path {
				stroke: white;
			}
		}
	}

	&:hover {
		label {
			background-color: #f2f2f2;
			border: none;
			border: 2px solid #e8e8e8;
			width: 25px;
			height: 25px;

			svg {
				opacity: 1;
				path {
					stroke: #b2b2b2;
				}
			}
		}
	}
}

.task {
	&-name {
		font-family: 'Roboto', serif;
		font-size: 18px;
		margin-bottom: 5px;
		margin-left: 15px;
		margin-top: 5px;
	}
	&-additionally {
		&-bottom {
			&:hover div{
				cursor: pointer;
			}
			padding: 20px;
			display: flex;
			justify-content: space-between;
		}
	}
	&-description {

	}

	&-date {
		font-family: 'Roboto', serif;
		font-size: 12px;
		color: #363636;
		opacity: 0.9;
		margin-left: 60px;
		margin-top: -18px;
	}
}

.item {
	&:hover {
		cursor: pointer;
		background-color: #F1F1F1;
	}
	display: flex;
	margin-top: 10px;
	//margin-left: -10px;
	padding: 16px;
}

.selected {
	background-color: #F1F1F1;
}

