.right-content-container {
	margin: 30px 90px;
	font-family: 'Roboto';
}

.right-content__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.right-content__title {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 40px;
}

.add-task-btn {
	display: flex;
	margin-left: 7px;
	margin-top: 40px;
}

.add-task-btn div:hover {
	cursor: pointer;
}

.add-task-btn img:hover {
	cursor: pointer;
}
