.left-content-container {
	margin-top: 40px;
	font-family: 'Montserrat';
}
.left-content-topContainer {
	height: 85vh;
}

.left-content__top {
	display: flex;
	justify-content: center;
}

.left-content__title {
	font-size: 40px;
}

.left-content-botContainer {
	display: flex;
	justify-content: center;
}

.left-content__addText {
	margin-left: 20px;
}

.left-content__middle {
	display: flex;
	margin: 0 20px 20px;
	flex-direction: column;
	margin-top: 20px;
}

.left-content__item {
	display: flex;
	min-height: 50px;
	padding: 5px 0;
	min-width: 80%;
	align-items: center;
}

.left-content__itemImg {
	margin: 0 15px;
}
