.left-content-container {
	margin-top: 40px;
	font-family: 'Montserrat';
}
.left-content-topContainer {
	height: 85vh;
	overflow-y: scroll;
}

.left-content__top {
	display: flex;
	justify-content: center;
}

.left-content__title {
	font-size: 40px;
}

.left-content-botContainer {
	display: flex;
	justify-content: center;
	cursor: pointer;
	margin-top: 10px;
}

.left-content__addText {
	margin-left: 20px;
}

.left-content__middle {
	display: flex;
	margin: 0 20px 20px;
	flex-direction: column;
	margin-top: 20px;
}

.left-content__item {
	display: flex;
	min-height: 50px;
	padding: 5px 0;
	min-width: 80%;
	align-items: center;
	cursor: pointer;
}

.left-content__itemImg {
	margin: 0 15px;
}

.close {
	position: relative;
	width: 20px;
	height: 20px;
	opacity: 0.3;
	margin-left: 180px;
}

.close:hover {
	opacity: 1;
}

.close:before,
.close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 20px;
	width: 2px;
	background-color: #333;
}

.close:before {
	transform: rotate(45deg);
}

.close:after {
	transform: rotate(-45deg);
}
