.LogIn-container {
    margin: auto;
    font-family: 'Roboto';
    overflow: hidden;
    font-size: 20px;
    height: 100vh;
}

.LogIn_Btn {
    display: flex;
    height: 80px;
    width: 450px;
    border-radius: 5px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.LogIn_Btn:hover {
    opacity: 0.9;
}

.LogIn-topContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 410px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-items: center;
    cursor: default;
}

.LogIn-content_top {
    height: 349px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.LogIn-text {
    margin-top: 20px;
    display: flex;
    color: #909090;
    justify-content: center;
    cursor: pointer;
}

.LogIn-text a{
    text-decoration: none;
    color: #909090;
}
.LogIn-text a:hover{
    text-decoration: underline;
}

input::placeholder {
    color: #C4C4C4;
    font-family: 'Roboto';
}

input {
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    height: 74px;
    padding-left: 20px;
    font-family: 'Roboto';
    border-style: solid;
    border-color: #C4C4C4;
}

.errors {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%, 0);
}

.errors li{
    background-color: #DF2121;
    margin-top: 10px;
    width: 350px;
    padding: 0px 5px;
    color: #FFF;
}

