.LogIn-container {
    display: flex;
    margin: auto;
    font-family: 'Roboto';
    justify-content: center;
    overflow: hidden;
    font-size: 20px;
    height: 100vh;
}

.LogIn_Btn {
    display: flex;
    height: 80px;
    width: 450px;
    border-radius: 5px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.LogIn-topContainer {
    margin-top: 250px;
    height: 410px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-items: center;
    cursor: default;
}

.LogIn-content_top {
    height: 349px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.LogIn-text {
    margin-top: 20px;
    display: flex;
    color: #909090;
    justify-content: center;
    cursor: pointer;
}

input::placeholder {
    color: #C4C4C4;
    font-family: 'Roboto';
}

input {
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    height: 74px;
    padding-left: 20px;
    font-family: 'Roboto';
    outline-color: #494949;
}

